{% extends "template.html" %}

{% block title %}מחזור מ' האגדי - דף הבית{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/main.css">{% endblock %}

{% block body %}

<div class="back">
    <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand" href="/">
            <img class="logo" src="/static/logo.png" alt="My image">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto right">
                <li class="nav-item">
                    <a class="nav-link" href="/">דף הבית</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/memes">memes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/videos">סרטוני חדרים</a>
                </li>
            </ul>
        </div>

        <h5>מחזור מ' האגדי</h5>
    </nav>
</div>


<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet">

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<style>
.tippy-box[data-theme~='light'] {
  background-color: #f5f5f5;
  color: black;
}

.tippy-box[data-theme~='light'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #f5f5f5;
}
.tippy-box[data-theme~='light'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #f5f5f5;
}
.tippy-box[data-theme~='light'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #f5f5f5;
}
.tippy-box[data-theme~='light'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #f5f5f5;
}


</style>

<script>


function putParticipants(roomId, participants) {
    let finalHtml = `<ul class="list-group list-group-flush">`;

    for (let i = 0; i < participants.length; i++) {
        finalHtml += `<li class="list-group-item" style="padding-left:0; padding-right:0;">${participants[i]}</li>`;
    }

    finalHtml += "</ul>";
    $(`#room-${roomId}-body`).html(finalHtml);
}


let tippies = {

}

function putJoinLink(roomId, link) {
    if (tippies[roomId] === undefined ) {
        tippies[roomId] = tippy(`#room-${roomId}-card`, {
          content: `<center><h5>החדר פתוח</h5><hr>
                    <button type="button" class="btn btn-outline-primary" onclick="window.open('${link}')">הצטרף לחדר</button></center>`,
          theme: 'light',
          interactive: true,
          allowHTML: true,
        })[0];

    } else {
        tippies[roomId].setContent(`<center><h5>החדר פתוח</h5><hr>
                  <button type="button" class="btn btn-outline-primary" onclick="window.open('${link}')">הצטרף לחדר</button></center>`);

    }
}


function putEmptyRoom(roomId, roomTitle) {
    if (tippies[roomId] === undefined ) {
        tippies[roomId] = tippy(`#room-${roomId}-card`, {
          content: `<center><h5>החדר ריק</h5><hr>
                    <input type="text" id="topic-room-${roomId}-${fetch}" class="form-control mb-4" placeholder="הזן נושא שיחה">
                    <button type="button" class="btn btn-outline-success" onclick="enterRoomFirst('${roomId}', '${roomTitle}')">צור שיחה</button></center>`,
          theme: 'light',
          interactive: true,
          allowHTML: true,
        })[0];
    } else {
        tippies[roomId].setContent(`<center><h5>החדר ריק</h5><hr>
                  <input type="text" id="topic-room-${roomId}-${fetch}" class="form-control mb-4" placeholder="הזן נושא שיחה">
                  <button type="button" class="btn btn-outline-success" onclick="enterRoomFirst('${roomId}', '${roomTitle}')">צור שיחה</button></center>`);
    }

    $(`#room-${roomId}-body`).html(`<p class="card-text">חדר ריק</p>`);
}


function onFloorUpdate(meetingsData) {
    meetingsData = JSON.parse(meetingsData);

    console.log(meetingsData);
    let me = meetingsData.username;
    for (let i = 0; i < meetingsData.rooms.length; i++) {
        let room = meetingsData.rooms[i];
        if (room.participants_names.length > 0) {
            putParticipants(room.room_id, JSON.parse(room.participants_names));
            putJoinLink(room.room_id, room.link);
        }

        else {
            putEmptyRoom(room.room_id, room.title);
        }

    }
}


function emptyAllRooms() {
    for (let i = 0; i < floorMappings[selectedFloorName].length; i++) {
        let row = floorMappings[selectedFloorName][i];

        for (let j = 0; j < row.rooms.length; j++) {
            putEmptyRoom(row.rooms[j].id, row.rooms[j].title);
        }
    }
}

function redirectToFloor(floorName) {
    let url = window.location.href;
    if (url.indexOf('?') > -1){
       url = url.split('?')[0] + "?floor=" + floorName;
    }else{
       url += '?floor=' + floorName
    }
    window.location.href = url;
}


function buildMapFromJson(mapJson) {
    floorMappings[selectedFloorName] = mapJson;
    let finalHtml = "";
    let titleSize = mapJson[0]["title-size"];
    $("#map-title").html(mapJson[0]["map-name"]);

    for (let i = 0; i < mapJson.length; i++) {
        let row = mapJson[i];
        if (row.direction !== undefined) {
            finalHtml += `<div class="row justify-content-${row.align}" style="direction: ${row.direction};">`;
        }

        else {
            finalHtml += `<div class="row justify-content-${row.align}">`;
        }


        for (let j = 0; j < row.rooms.length; j++) {
            let room = row.rooms[j];
            if (room.id === "space") {
                finalHtml += `<div class="col-${room.size}"></div>`;
                continue;

            } else if (room.id === "passage") {
                finalHtml += `
                <div class="col-2">
                <div class="card" style="height: 100%; margin: auto;">
                  <!-- Card content -->
                  <div class="card-body" style="text-align: center; margin: auto;">
                  <button type="button" class="btn btn-outline-secondary waves-effect" onclick="redirectToFloor('${room.up}')"><i class="fas fa-angle-double-up fa-lg"></i></button>
                  <hr>
                  <button type="button" class="btn btn-outline-secondary waves-effect" onclick="redirectToFloor('${room.down}')"><i class="fas fa-angle-double-down fa-lg"></i></button>
                  </div>
                </div>
                </div>`;
                continue;
            }

            finalHtml += `<div class="col-${room.size}">
                <div id="room-${room.id}-card" class="card" style="height: 100%;">
                  <!-- Card content -->
                  <div class="card-body" style="text-align: center">
                    <!-- Title -->
                    <h${titleSize} class="card-title" style="font-weight: bold;">${room.title}</h${titleSize}>
                    <hr>
                    <!-- Text -->
                        <div id="room-${room.id}-body">
                            <p class="card-text">חדר ריק</p>
                        </div>
                  </div>
                </div>
              </div>
                  `
        }

        if (row.double === undefined) {
            finalHtml += `</div><br><br>`;
        } else {
            finalHtml += "</div><br>";
        }
    }

    return finalHtml;
}


var dData;
var selectedFloorName = "2";


function enterRoomFirst(roomId, roomTitle) {
    $.post(`/enter_room_first`,
        {
            'room_id': roomId,
            'room_name': roomTitle,
            'topic': $(`#topic-room-${roomId}`).val(),
            "floor": selectedFloorName,
        },

        function(data, status) {
            data = data.split("\'").join("\"");
            data = data.split("True").join("\"True\"");
            data = data.split("False").join("\"False\"");
            dData = data;
            let jsonData = JSON.parse(data);
            window.open(jsonData["start_url"]);
        }

    );
}

function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}


function requestFloorUpdate() {
     $.get(`/update_floor?floor=${selectedFloorName}`,
         function(data, status) {
             emptyAllRooms();
             onFloorUpdate(data);
         }
     );
}

function selectFloorName(floorName) {
    selectedFloorName = floorName;
    $("#floor-map").html(buildMapFromJson(floorMappings[selectedFloorName]));
    emptyAllRooms();
}


let floor1map = [
    {
        "map-name": "קומה 1",
        "align": "start",
        "title-size": "6",
        "rooms": [
            {
                "id": 101,
                "title": "חדר 101",
                "size": 2,
            },

            {
                "id": 102,
                "title": "חדר 102",
                "size": 2,
            },

            {
                "id": 103,
                "title": "חדר 103",
                "size": 2,
            },

            {
                "id": 104,
                "title": "חדר 104",
                "size": 2,
            },

            {
                "id": 105,
                "title": "חדר 105",
                "size": 2,
            },

            {
                "id": 106,
                "title": "חדר 106",
                "size": 2,
            },
        ]
    },

    {
        "align": "end",
        "direction": "ltr",
        "rooms": [
            {
                "id": "passage",
                "down": "0",
                "up": "2",
            },
            {
                "id": "space",
                "size": 10,
            },
        ]
    },

    {
        "align": "start",
        "double": true,
        "rooms": [
            {
                "id": 121,
                "title": "המשרד של איתי",
                "size": 2,
            },
            {
                "id": 123,
                "title": "המשרד של בני",
                "size": 2,
            },
            {
                "id": 125,
                "title": "המשרד של דקל ",
                "size": 2,
            },
            {
                "id": 127,
                "title": "המשרד של ברקו ",
                "size": 2,
            },
            {
                "id": "space",
                "size": "1",
            },
            {
                "id": 129,
                "title": "המשרד של גרנות ",
                "size": 3,
            },
        ]
    },

    {
        "align": "start",
        "rooms": [
            {
                "id": "space",
                "size": "2",
            },

            {
                "id": 122,
                "title": "המשרד של יוני",
                "size": 2,
            },
            {
                "id": 124,
                "title": "המשרד של אולשקר",
                "size": 2,
            },
            {
                "id": 126,
                "title": "המשרד של דוד ",
                "size": 2,
            },
            {
                "id": "space",
                "size": "1",
            },
            {
                "id": 128,
                "title": "המשרד של גרינבוים ",
                "size": 3,
            },

        ]
    },
]



let floor2map = [
    {
        "map-name": "קומה 2",
        "align": "start",
        "title-size": "5",
        "rooms": [
            {
                "id": 205,
                "title": "חדר 205",
                "size": 2,
            },

            {
                "id": 204,
                "title": "חדר 204",
                "size": 2,
            },

            {
                "id": 203,
                "title": "חדר 203",
                "size": 2,
            },

            {
                "id": 202,
                "title": "חדר 202",
                "size": 2,
            },

            {
                "id": 201,
                "title": "חדר 201",
                "size": 2,
            },

            {
                "id": 200,
                "title": "חדר 200",
                "size": 2,
            },
        ]},

    {
        "align": "end",
        "direction": "ltr",
        "rooms": [
            {
                "id": "passage",
                "down": "1",
                "up": "3",
            },
            {
                "id": "space",
                "size": 6,
            },
            {
                "id": 220,
                "title": "מועדון",
                "size": 4,
            },
        ]
    },

    {
        "align": "start",
        "rooms": [
            {
                "id": 215,
                "title": "חדר 215",
                "size": 2,
            },

            {
                "id": 214,
                "title": "חדר 214",
                "size": 2,
            },

            {
                "id": 213,
                "title": "חדר 213",
                "size": 2,
            },

            {
                "id": 212,
                "title": "חדר 212",
                "size": 2,
            },

            {
                "id": 211,
                "title": "חדר 211",
                "size": 2,
            },

            {
                "id": 210,
                "title": "חדר 210",
                "size": 2,
            },
        ]
    }
]

let floorMappings = {
    "1": floor1map,
    "2": floor2map
}


</script>
<br>
<center><strong>
    <h1>זומתל"ם</h1>
    <h2 id="map-title"></h2>
    <hr>
</strong></center>
<br>
<br>
<div class="card" style="width: 90%; margin: auto">
    <div class="card-body">
        <div class="container">
            <div id="floor-map">
            </div>
        </div>
    </div>
</div>

<script>
         let exampleFloorUpdate = {
             "user_name": "Ofek Zicher",
             "rooms": [
                 {
                     "room_id": "204",
                     "participants_names": ["Ofek Zicher", "Maya Naveh"],
                     "link": "abc",
                 },
                 {
                     "room_id": "205",
                     "participants_names": ["Roy Zohar", "Asaf Haas", "Omer Prives"],
                     "link": "abc",
                 }
             ]
         }

         let floorToSelect = getUrlVars()["floor"];
         if (floorToSelect === undefined) {
             floorToSelect = "2";
         }

         selectFloorName(floorToSelect);
         setTimeout(function(){emptyAllRooms();requestFloorUpdate();}, 500);
         setInterval(function(){ requestFloorUpdate(); }, 4000);



</script>

{% endblock %}
