<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מימז</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <script src="{{ url_for('static', filename='scripts/func.js') }}" defer></script>
</head>
<body dir="rtl">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <img class="logoimage" src="
                {{ url_for('static', filename='icons/logo.png') }}
                " style="height: 50px;">
                <!-- <p> -->
                    מי<b style="color:rgb(140, 228, 255)">מז</b>
                <!-- </p> -->
            </li>
            <li class="navbar-item" style="margin-right: auto;padding-left: 30px;">
                <button type="button" class="btn btn-info btn-circle btn-xl" onclick="toggleLogin()" style="background-image: url(
                    {{ url_for('static', filename='icons/upload.webp') }}
                    ); background-size: cover;"></button>
            </li>

        </ul>
        
        
    </nav>
    <br>

    <section class="basic-grid">
	{% for item in result %}
    		<div class="card" id style="background-image: url(
		{{ url_for('static', filename='memes/'+item) }}
		);">
	  </div>
	{% endfor %}
    </section>

    <section id="haveChosen">
        <div id="help" class="chosenBg"></div>
        <div class="chosen" dir="ltr">
            <h1 id="imageTitle">כותרת תמונה</h1>
            <h3 id="imageByT" style="color:gray; display: inline;">by: </h3>
            <h3 id="imageBy" style="display: inline;">כותרת תמונה</h3>
            <br>
            <img id="chosenImage" src="photos/f.jpg" draggable="false" />
        </div>
    </section>


	<div id="help2" class="loginBg" style="display: none;"></div>
    <section id="login" style="display: none;">
    <form id="myForm" method="post" enctype="multipart/form-data" action="/up">
		<h1 style="font-size: 2em;">
	            <b><u>
	                upload new meme
	            </u></b>    
	        </h1>
	        <br>
	        <input onchange="document.getElementById('myForm').submit();" type="file" name="file" id="file" class="inputfile" />
	        <label for="file"">Choose a file<i><img src="
	            {{ url_for('static', filename='icons/upload.png') }}
	            " style="width: 1em; padding-right: 5px;"></i></label>
	</form>
    </section>
</body>
</html>

