{% extends "template.html" %}

{% block title %}לב אחד - דף הבית{% endblock %}


{% block body %}
<div class="centered">

    <section class="cards">

        <article class="card">
            <a href="/client/get_help">

                <h4>חדרי צ'אט</h4>
            </a>
        </article>

        <article class="card">
            <a href="/client/volunteer">
                <h4>MEMES</h4>
            </a><!-- /card-one -->

        </article>

        <!-- /card-two -->

        <article class="card">
            <a href="https://www.levechad.org/donates">
                <h4>לתרומות</h4>
            </a>
        </article>
        <!-- /card-three -->

    </section>
</div>
{% endblock %}
